{% load static %}
<style>
  /* .nav-item{ 
    transition: .5s ease-out ;
    } */
  .nav-link:hover {

    -webkit-transition: width 1s;
    transition: width 1s;
    border-bottom: 1px solid white;
  }

  .btn-primsajjad {
    color: white;
    position: relative;
    top: 2px;
  }

  .btn-primsajjad:hover {
    background-color: white;
    color: #00589E;
    font-size: bold;
  }

  .btn-primsajjad:active,
  .btn-primsajjad:visited,
  .btn-primsajjad:focus {
    border-color: #ffffff;
  }
</style>
<!-- <nav class="navbar navbar-expand-lg navbar-light" style="height:60px; background-color: #F63854; "> -->
<nav class="navbar navbar-expand-lg navbar-light" style="height:60px; background-color:#00589E">
  <img src="{% static 'images/logo2.png' %}" style="width: 273px;position: relative;top: -1px;left: -60px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" style="color: white;" href="{% url 'dashboard' %}">Home<span
              class="sr-only">(current)</span></a>
      {% if request.user.is_authenticated %}
      <a class="nav-item nav-link active" style="color: white;" href="{% url 'add_description' %}">Add New Description<span
              class="sr-only">(current)</span></a>

      <a class="btn btn-primsajjad" href="{% url 'logout' %}">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>