.cont2{
    height: 700px;
    width: 85rem;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 60px;
    box-shadow: 0px 4px 4px rgba(34, 26, 26, 0.85);
    border: 2px solid #d1d0d0;
}
.cont12{
    height: 0px;
    display: flex;
    flex-direction: row;
    position: relative;

}

.text2{
    margin-left: 70px;
    margin-top: 20px;
    font-size: 20px;
    font-weight:500;
}

.sea2{
    padding-left: 15px;
    width: 300px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    background-color:#F3F2F2;
}

.icon12{
    border-radius: 10px;
    background-color:#F3F2F2;
    width: 25px;
    height: 25px;
    margin-left: 60px;
    margin-top: 25px;
}
.icon22{
    border-radius: 10px;
    background-color:#F3F2F2;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 25px;
}

.supp2{
    color: white;
    margin-top: 20px;
    margin-left: 250px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color:#94BC75;
}

.con22{
    height: 700px;
    width: 125rem;
    background-color: white;
    border-radius: 20px;
    margin-left: 400px;
    margin-top: 8000px;
    box-shadow: 0px 4px 4px rgba(34, 26, 26, 0.85);
    border: 2px solid #2b2929;
    /* height: 630px;
    width: 65rem;
    background-color:#dfdfdf;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 80px;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 20px solid #b82424; */
}
.upload{
    position: fixed;
    margin-left: 4rem;
    margin-top: 12rem;
    /* position: absolute;
    top: 20px;
    left:20rem; */
    font-size:large;
}
.seletb{
    color: #000;
}
.cont_32{
    display: flex;
    flex-direction: column;
    position: relative;
}

.pro_text12{
    position: absolute;
    top: 40px;
    left: 10px;
    font-weight: 500;
    margin-top: 80px;
    margin-left: 70rem;
}
.pro12{
    position: absolute;
    top: 90px;
    left: 80px;
    margin-top: 20px;
    margin-left: 72rem;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    background-color:blue;
}
.ayat_text2{
    width: 80px;
    position: absolute;
    font-size: 15px;
    font-weight: 400;
    margin-top: 220px;
    margin-left: 71rem;
    display: inline-block; 
}

.aya2{
    position: absolute;
    top: 90px;
    left: 80px;
    margin-top: 120px;
    margin-left: 72rem;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    background-color:blue;
}
.read2{
    color:white;
    position: absolute;
    top: 90px;
    left: 80px;
    margin-top: 260px;
    margin-left: 66rem;
    border-radius: 15px;
    width: 200px;
    height: 300px;
    background-color:#94BC75;
}
.last_h12{
    padding: 15px 10px 15px 15px;
    font-size: 15px;
    font-weight: 600;
}
.last_par2{
    padding: 15px 10px 15px 15px;
    font-size: 15px;
    font-weight: 400;
}
.last_text2{
    padding-top: 70px;
}

.sort_ser2{

    padding-right: 15px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 300px;
    position: absolute;
    width: 110px;
    height: 60px;
    background-color:white;
    left: 500px;
    top: 50px;
    border: none;
}

.sort_ser12{

    padding-right: 15px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 300px;
    position: absolute;
    width: 110px;
    height: 60px;
    background-color: #F3F2F2;
    left: 620px;
    top: 50px;
}

.sort_ser22{

    padding-right: 17px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 300px;
    position: absolute;
    width: 120px;
    height: 60px;
    background-color: #F3F2F2;
    left: 740px;
    top: 50px;
}

.sort_ser32{

    padding-right: 15px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 300px;
    position: absolute;
    width: 110px;
    height: 60px;
    background-color: #F3F2F2;
    left: 870px;
    top: 50px;
}
.icon_12{
    font-weight: 700;
    padding-top: 8px;
    color: #000;
    position: absolute;
    left: 10px;
    top: 15px;
    background-color:#94BC75;
    border-radius: 10px;
    width: 37px;
    height: 35px;
    }

.texting{

    padding-left: 60px;
    position: absolute;
    padding-top: 60px;
    color: rgb(60, 110, 26);
    font-weight: 1200px;
    font-size: 30px;
}
.upload_image{
    margin-left: 3rem;
    margin-top: 15rem;
    position: absolute;
    width: 200px;
    height: 30px;
    /* left: 50px; */

}

.btn_image{
    margin-left: 5rem;
    margin-top: 15rem;
    position: absolute;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    /* background-color: lightgray; */
    box-shadow: 4px rgba(33, 34, 34, 0.226);
    /* transition: 1s; */

}
/* .btn_image:hover{
    background-color: #063006;
    color: white;
    transform: scale(1.2);
} */

.insert_text{
    position: fixed;
    margin-left: 2rem;
    margin-top: 24rem;
        width: 50%;
        height: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 3px solid #000000;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
}

.status{
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    margin-left: 58rem;
    margin-top: 10rem;
    
}

.verfy{
    background-color: #2aa32a;
    color: #F3F2F2;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 3rem;
    left: 0;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 18px;
    /* transition: 3s; */

}


.verfy:hover {
    background-color: #054205;
    color: white;
    /* transform: scale(0.5) translate(50%, 0); */
     transform: (1); 
    /* transform: translate(0px, 20px);
    width: 140px;
    height: 60px; */
  }
  .insertt12{
    position: fixed;
    margin-left: 4rem;
    margin-top: 20rem;
    /* position: absolute;
    top: 20px;
    left:20rem; */
    font-size:large;
}
.pending{
    background-color: #fffb01;
    color: #111111;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 3rem;
    left: 8rem;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 18px;
}

.pending:hover{
        background-color: #d4ca31;
        color: white;
        /* transform: scale(0.5) translate(50%, 0); */
         transform: (1); 
}
.not_verfy{
    background-color: #ff0901;
    color: #F3F2F2;
    width: 130px;
    height: 50px;
    position: absolute;
    top: 3rem;
    left: 16rem;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 18px;
}
.not_verfy:hover{
    background-color: #6d1008;
    color: white;
    /* transform: scale(0.5) translate(50%, 0); */
     transform: (1); 
}

.post{

    background-color: #777171;
    color: #F3F2F2;
    width: 210px;
    height: 70px;
    position: fixed;
    top: 13rem;
    left: 69rem;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 18px;
    font-weight: medium;
    font-size: 20px;
}
.post:hover{
    background-color: #525050;
    color: white;
    /* transform: scale(0.5) translate(50%, 0); */
     transform: (1); 
}
.bimage{
    top:120rem;
    margin-left: 17rem;
    margin-top: 15rem;
    position: absolute;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 4px rgba(33, 34, 34, 0.226);
    transition: 1s
}
.image_p{
    margin-top: 20rem;
    position: absolute;
    color: #000;
    width: 80%;
    height: 50%;
    background-color: #000;
}

.post12{
    margin-left: 40rem;
    margin-top: 100px;
    background-color: #000;
    width: 30%;
    height: 40%;
}
.post1{
    height:70%;
    width: 80%;
}

.btnlogout{
    position: fixed;
    color: white;
    margin-top: 2rem;
    font-weight:normal;
    font-size: 15px;
    height: 40px;
    width: 7rem;
    margin-left: 72rem;
    background-color: #021b02;
    border-radius: 15px;
    box-shadow: 1px rgba(15, 218, 133, 0.226);
    border: 2px solid #368a44;
    transition: 0.5s;
}

/* .btnlogout:hover {
    background-color: #063006;
    color: white;
    transform: scale(1.2);
  } */
  .extract{
    position: fixed;
    margin-left: 20rem;
    margin-top: 12rem;
    /* position: absolute;
    top: 20px;
    left:20rem; */
    font-size:large;
}

.extract_text{
    margin-left: 18rem;
    margin-top: 14rem;
    position: fixed;
    width: 25%;
    height: 15%;
    border-radius: 10px;
    /* background-color: lightgray; */
    box-shadow: 4px rgba(33, 34, 34, 0.226);
    /* transition: 1s; */

}
.icon{
    background-color: #000;
    border-radius: 50%;
    height: 6%;
    width: 4%;
    position: fixed;
    margin-top: 2rem;
    margin-left: 3rem;

} 